body {
	margin: 0;
}

header {
	background: white;
	border-bottom: 3px solid #999;
	height: 50px;
}

.button {
	margin: 10px 10px;
	font-size: 1.1em;
	width: 100px;
	border: 0;
	background: #2AAF6B;
	color: white;
	border-radius: 3px;
	display: inline-block;
	line-height: 1em;
	cursor: pointer;
	text-decoration: none;
	padding: 7px;
}

#canvas {
	background: #ddd;
}